In [27]:
import pandas as pd
data = pd.DataFrame(columns=('order', 'family', 'num', 'sequence'))

data.loc[len(data)]=['Tymovirales','Alphaflexiviridae',1,'AACGTTAAUGGUGAA'] 
data.loc[len(data)]=['Tymovirales','Alphaflexiviridae',2,'AACGTTAAUGGUGAA']
clases = ["clase 1"] * 5 + ["clase 2"] * 5
tipos = ["tipo 1"] * 2 + ["tipo 2"] * 3 + ["tipo 3"] * 2 + ["tipo 4"] * 3
valores = [0,1,2,3,4] + [5,6,7,8,9]
df = pd.DataFrame({"clase": clases, "tipo": tipos, "valor": valores})
print(df)
#five element 
print(df[:5])
# one element
print(df.loc[1])
print(df.iloc[1])
# select clase
print(df['clase'])
print(df[['clase','tipo']])
# media
print(df.mean())

# suma de valores
print(df.groupby('clase').sum())
 # contando valores nulos o ignorados
print(df.groupby('clase').count())

# columna a fila o lista
print(df['clase'].tolist())
# orderin values  clase ascendente tipo descendente

print(df.sort_values(by=['clase','tipo'], ascending=[True,False]))

# borrando duplicados
df.loc[len(df)]=['clase 1','tipo 1',1]
df.loc[len(df)]=['clase 1','tipo 1',1]
print(df)
print(df.drop_duplicates())


# eliminar duplicados en una columna como lista
print(df['clase'].drop_duplicates().values.tolist())

#remplazar elementos para todos los campos de una columna
df['clase'] = df['clase'].replace({' ': ''}, regex=True)
print(df)

#remplazar  columnas en dataframe
df = df.replace({' ': ''}, regex=True)
print(df)

#  filtrando valores por columnas
df2 = df[df['tipo'] == 'tipo1']
print(df2)

# filtrando valores por columnas  concretas data frame
df2 = df.filter(items=['clase', 'valor'])
print(df2)

#Filtar por valores de una columna que pertenezcan a un conjunto de datos
df2 = df[df['valor'].isin([3,6])]
print(df2)

#Filtar por valores que cumpla una condición
df2 = df[df['valor'] > 6]
print(df2)

#Unión de dos data frames por columna
df1 = pd.DataFrame({'A1': ['A0', 'A1', 'A2', 'A3'],
'B1': ['B11', 'B12', 'B13', 'B14'],
'C1': ['C11', 'C12', 'C13', 'C14']})
df2 = pd.DataFrame({'A2': ['A0', 'A2', 'A2', 'A4'],
'B2': ['B21', 'B22', 'B23', 'B24'],
'C2': ['C21', 'C22', 'C23', 'C24']})
result = df1.merge(df2, left_on='A1', right_on='A2', how='outer')
print(result)

     clase    tipo  valor
0  clase 1  tipo 1      0
1  clase 1  tipo 1      1
2  clase 1  tipo 2      2
3  clase 1  tipo 2      3
4  clase 1  tipo 2      4
5  clase 2  tipo 3      5
6  clase 2  tipo 3      6
7  clase 2  tipo 4      7
8  clase 2  tipo 4      8
9  clase 2  tipo 4      9
     clase    tipo  valor
0  clase 1  tipo 1      0
1  clase 1  tipo 1      1
2  clase 1  tipo 2      2
3  clase 1  tipo 2      3
4  clase 1  tipo 2      4
clase    clase 1
tipo      tipo 1
valor          1
Name: 1, dtype: object
clase    clase 1
tipo      tipo 1
valor          1
Name: 1, dtype: object
0    clase 1
1    clase 1
2    clase 1
3    clase 1
4    clase 1
5    clase 2
6    clase 2
7    clase 2
8    clase 2
9    clase 2
Name: clase, dtype: object
     clase    tipo
0  clase 1  tipo 1
1  clase 1  tipo 1
2  clase 1  tipo 2
3  clase 1  tipo 2
4  clase 1  tipo 2
5  clase 2  tipo 3
6  clase 2  tipo 3
7  clase 2  tipo 4
8  clase 2  tipo 4
9  clase 2  tipo 4
valor    4.5
dtype: float64
         valor
clase
clase 1     10
clase 2     35
         tipo  valor
clase
clase 1     5      5
clase 2     5      5
['clase 1', 'clase 1', 'clase 1', 'clase 1', 'clase 1', 'clase 2', 'clase 2', 'clase 2', 'clase 2', 'clase 2']
     clase    tipo  valor
2  clase 1  tipo 2      2
3  clase 1  tipo 2      3
4  clase 1  tipo 2      4
0  clase 1  tipo 1      0
1  clase 1  tipo 1      1
7  clase 2  tipo 4      7
8  clase 2  tipo 4      8
9  clase 2  tipo 4      9
5  clase 2  tipo 3      5
6  clase 2  tipo 3      6
      clase    tipo  valor
0   clase 1  tipo 1      0
1   clase 1  tipo 1      1
2   clase 1  tipo 2      2
3   clase 1  tipo 2      3
4   clase 1  tipo 2      4
5   clase 2  tipo 3      5
6   clase 2  tipo 3      6
7   clase 2  tipo 4      7
8   clase 2  tipo 4      8
9   clase 2  tipo 4      9
10  clase 1  tipo 1      1
11  clase 1  tipo 1      1
     clase    tipo  valor
0  clase 1  tipo 1      0
1  clase 1  tipo 1      1
2  clase 1  tipo 2      2
3  clase 1  tipo 2      3
4  clase 1  tipo 2      4
5  clase 2  tipo 3      5
6  clase 2  tipo 3      6
7  clase 2  tipo 4      7
8  clase 2  tipo 4      8
9  clase 2  tipo 4      9